/* You can add global styles to this file, and also import other style files */
.buttonToLink {
  background: none;
  border: none;
}

.buttonToLink:hover {
  background: none;
  text-decoration: underline;
}
